{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg')}}')"
        xmlns:color="http://www.w3.org/1999/xhtml">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Fill out the form below to get in touch with me!</p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p style="color: red">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='message') }}
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}